@mixin abs-center {
  position:relative;
  top: 100%;
  left: 50%;
  translate: -50% ;
}

.calculator{
    margin-top: 100px;
    &__content{
        height: 550px;
        background-color: rgba(0, 0, 0, 0.356);
        @include abs-center()   
    }
}