.dogovor{
    margin-top: 50px;
    &__body{
        &-inner{
            border: #e4dfdf 1px solid;
            border-radius: 10px;
            h2{
                color: #333;
                font-size: 32px;
                font-weight: bold;
                @media (max-width: 768px) {
                    font-size: 26px;
                }
            }
            h3{
                color: #333;
                font-size: 28px;
                font-weight: 500;
                @media (max-width: 768px) {
                    font-size: 21px;
                }
            }
            ul{
                padding: 0;
                list-style: none;
                li{
                    background-color:#3C487C ;
                    width: 200px;
                    height: 200px;
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    flex-direction: column;
                    border-radius: 10px;
                    p{
                        font-size: 20px;
                        font-weight: 500;
                        color: #fff;
                    }
                }
            }
        }
    }
}