$modal-bg: rgba(0, 0, 0, 0.5);
$primary: #3C487C;
$secondary: #f2f2f2;
$text-color: #20292E;
$white: #fff;
$cta: #797EBA;
$button-color: #797EBA;
$radius: 12px;
$input-border: #ccc;

@mixin abs-center {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
}
@mixin shadow {
  display: inline-flex;
  align-items: center;
  background-color: $white;
  padding: 0.4rem 1rem;
  border-radius: 0.75rem;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.10);
  margin-bottom: 50px;
  width: fit-content;
}

body {
  margin: 0;
  font-family: Inter, sans-serif;
  color: $text-color;
  background-color: $white;
}

.header {
  &__body {
    padding: 30px;

    &-inner {
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;
    }
  }

  &__logo a {
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: $text-color;
  }

  &__menu {
    list-style: none;
    display: flex;
    gap: 40px;

    li a {
      text-decoration: none;
      color: $text-color;
    }
  }

  &__contact {
    display: flex;
    flex-direction: column;
    align-items: start;
    a {
      color: $text-color;
      text-decoration: none;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 8px;
    }
  }
}

.burger {
  display: none;
  flex-direction: column;
  gap: 6px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  z-index: 1001;

  span {
    width: 25px;
    height: 3px;
    background-color: $text-color;
    display: block;
    border-radius: 2px;
    transition: 0.3s ease;
  }

  &.active span:nth-child(1) {
    transform: rotate(50deg) translateY(13px);
  }

  &.active span:nth-child(2) {
    opacity: 0;
  }

  &.active span:nth-child(3) {
    transform: rotate(-50deg) translateY(-13px);
  }
}

@media (max-width: 768px) {
  .header {
  .dropdown-menu{
    display: none;
  }

    &__menu {
      position: absolute;
      top: 100%;
      right: 0;
      width: 100%;
      flex-direction: column;
      align-items: flex-start;
      gap: 20px;
      background-color: $white;
      padding: 20px;
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
      transform: translateY(-200%);
      opacity: 0;
      pointer-events: none;
      transition: all 0.3s ease;


    }

    &__nav.active .header__menu {
      transform: translateY(0);
      z-index: 1;
      opacity: 1;
      pointer-events: all;
    }

    &__contact {
      display: none;
    }
  }

  .burger {
    display: flex;
  }
}

.menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu > ul > li {
  position: relative;
  display: inline-block;
}

.menu a {
  text-decoration: none;
  padding: 30px;
  display: block;
  color: #000;
}

.dropdown-menu {
  padding: 0;
  display: none;
  position: absolute;
  background: #fff;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  list-style: none;
  z-index: 1000;
}

.dropdown-menu li a {
  display: flex;
  gap: 30px;
  padding: 8px 12px;
  color: #000;
}

.dropdown-menu li a:hover {
  background-color: #f0f0f0;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

