@mixin shadow {
  display: inline-flex;
  align-items: center;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.10);
  margin-bottom: 50px;
  width: fit-content;
}

.offers {
  margin-top: 180px;

  .offers__h2-title {
    font-size: 36px;
    font-weight: bold;
    color: #333;
    margin: 0;
    padding:16px;
    gap: 15px;

    @include shadow;
    
    h2{
      margin: 0;
      font-size: 36px;
    }
  }
  &__img {
    width: 36px;
    height: 36px;
    margin-left: 20px;
  }


  &__box-text {
    display: flex;

    h3 {
      font-size: 32px;
      font-weight: bold;
      color: #ffffff;
      margin: 0;
    }

    img {
      width: 36px;
      height: 36px;
    }
  }

  &__box {
    width: 50%;
    p {
      color: #ffffff;
      font-weight: regular;
      font-size: 20px;

    }

    a {
      text-decoration: none;
      color: #ffffff;
      font-size: 16px;
      background-color: #9CA1E4;
      width: 188px;
      height: 55px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 10px;
      transition: background 0.3s ease;

      &:hover {
        background-color: #8589c4;
      }
    }
  }

  &__content {
    display: flex;
    height: 303px;
    justify-content: center;
    margin-top: 32px;
  }

  &__box {
    width: 50%;
    display: flex;
    background-color: #797EBA;
    height: 273px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    gap: 10px;
    padding: 30px 0 0 30px;
    justify-content: center;
    flex-direction: column;
  }

  .offers__box-photo {
    width: 50%;
    margin-left: 5px;
    position: relative;
    display: inline-block;

    img{
      object-fit:cover ;
      width: 100%;
      filter: brightness(50%);
      border-top-right-radius: 20px;
      border-bottom-right-radius: 20px;
    }
  }

  // .offers__box-photo img::after {
  //   content: "";
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   width: 100%;
  //   height: 100%;
  //   background-color: rgba(0, 0, 0, 0.5);
  //   pointer-events: none;
  //   border-top-right-radius: 20px;
  //   border-bottom-right-radius: 20px;
  // }


  @media (max-width: 768px) {
 
      &__content {
      display: flex;
      justify-content: center;
      flex-direction: column; 
      height: auto; 
    }

    &__box {
      width: 90%;
      padding: 20px; 
      height: auto;
      border-radius: 20px; 

      p{
        font-size: 18px
      }
      h3{
        font-size: 28px;
      }
    }

    .offers__box-photo {
      display: none; 
    }
  }

  @media (max-width: 480px) {
    &__title {
      font-size: 28px; 
    }

    &__box-text h3 {
      width: 100%;
      font-size: 24px; 
    }

    &__box p {
      width: auto;
      font-size: 16px;
    }


  }
}
